
// Font
$font-family: 'Nunito', sans-serif;
$normal-font-weight: 400;
$bold-font-weight: 600;
$small-font-size: 12px;
$medium-font-size: 16px;
$large-font-size: 18px;

// Color
$black: #000;
$white: #fff;
$gray: #eaeaea;
$primary-blue: #2b7fff;
$primary-red: #ff0000;
