@use "@/styles/variable";

.logo {
  color: variable.$white;
  img, p {
    display: inline-block;
    vertical-align: middle;
  }
  p {
    font-weight: bold;
    font-size: 24px;
  }
  img {
    margin-right: 10px;
  }
}
